body {
    font-family: BenchNine, sans-serif;
    background-color: #EFE6DD;
    max-width: 100%;
}

/* ---------------------- header ---------------------- */

#site-logo {
    font-family: Oswald, sans-serif;
    color: #293847;
    text-transform: uppercase;
    font-size: 230%;
    letter-spacing: 2px;
    float: left;
    margin: 7px;
    max-width: 100%;
}

nav {
    float: right;
    padding-right: 7px;
    margin: 15px 0 0 0;
}

ul li {
    list-style-type: none;
    font-family: Oswald, sans-serif;
    display: inline;
}

ul li a {
    color: #293847;
    padding: 0 7px 0 7px;
    font-size: 120%;
    text-decoration: none;
    letter-spacing: 2px;
}

.active {
    text-decoration: underline;
}

.mobile-only {
    display: none;
}

/* ------------------------- hero image and overlay text ---------------------- */

#hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    background: url("../images/pano-hero-image.webp");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 95%;
}

#hero-overlay-text {
    font-size: 110%;
    color: #efe6dd;
    font-family: BenchNine, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.5px;
    width: 600px;
    height: auto;
    border-radius: 10px;
    background-color: rgba(41, 56, 71, .8);
    position: absolute; 
    line-height: 200%;
}

#contact-button {
    background-color: #ABD1B5;
    font-family: BenchNine, sans-serif;
    text-transform: uppercase;
    font-size: 110%;
    border-style: none;
    border-radius: 5px;
    max-width: 35%;
    margin: 10px 0 20px 200px;
}

#contact-button h3 {
    color: #293847;
    padding: 2px 5px 2px 5px;
    margin: 2px;
}

#contact-button a {
    text-decoration: none;
} 

/* ---------------------------- services grid ------------------------------ */

#services {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    min-height: 400px;
    max-width: 100%;
}

.options {
    background-color: rgba(41, 56, 71, .8);
    color: #EFE6DD;
    height: 170px;
    text-align: center;
    padding: 25px 10px 50px 10px;
    margin: 3px 2px 0 0;
    border-style: none;
}

#services h2 {
    margin: 1px 0 1px 0;
    padding: 0;
}

#services p {
    font-size: 120%;
}

/* --------------------- About section ----------------------- */

#about-us {
    display: flex;
    justify-content: center;
    align-items: center;
}

#portait-container {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 8px solid #293847;
    margin: 30px 20px 0 30px;
    overflow: hidden;
}

#portrait-bg img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#about-us-text-container {
    background-color: rgb(171, 209, 181, 0.8);
    width: 66%;
    margin: 12px;
    border-radius: 5px;
}

#about-us-text-container {
    width: 100%;
    height: 100%;
    margin: 10px;
    font-size: 110%;
    color: #293847;
    font-family: BenchNine, sans-serif;
    text-align: center;
    letter-spacing: 1.5px;
}

#about-us-text {
    padding: 10px;
}

/* -------------------------- Footer --------------------------------- */

footer {
    max-height: 100px;
     clear: both;
     padding-bottom: 2em;
 }
 
 hr {
     margin-bottom: 10px;
 }
 
 .socials-container {
     text-align: center;
 }
 
 #socials li {
     justify-content: space-evenly;
     align-items: center;
     display: inline-block;
 }
 
 .fa-facebook {
     font-size: 250%;
     color: #316FF6;
 }
 
 #mcea-logo img {
     width: 4em;
     height: auto;
 }
 
 #gas-logo img {
     width: 3em;
     height: auto;
 }

 /* -------------------- prices ------------------------------ */

.prices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    color: #293847;
    width: 100%;
}

.prices-intro-container {
    background-color: #ABD1B5;
    border-radius: 10px;
    padding: 7px;
}

.prices-intro h2 {
    margin: 0;
}

.prices-intro {
    font-size: 130%;
    text-align: center;
}

.table-container {
    background-color: #ABD1B5;
    margin: 0.5em;
    border-radius: 10px;
    padding: 2em;
}

.prices-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 130%;
}

td {
    padding: 0.3em 1em;
    border-bottom: 1px solid #293847;
}

.hide-border {
    border-bottom: none;
}

/* ------------------------ Contact form --------------------------- */

#contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

#form {
    margin-top: 80px;
    font-size: 150%;
    color:#293847;
}

.email-phone {
    display: inline-flex;
}

.caravan-details {
    display: inline-flex;
}

.location {
    display: inline-flex;
}

.form-field {
    width: 250px;
    height: 25px;
    margin: 10px;
}

.query-field {
    width: 100%;
}

.form-button {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-button input {
    margin: 5px;
    padding: 5px;
    color: #293847;
    border-radius: 5%;
    border-color: #ABD1B5;
    background-color: #efe6dd;
    border-width: 5px;
}

.submit-button input {
    font-size: 100%;
}

.reset-button input {
    font-size: 80%;
}

/* ---------- contact information --------------- */

#contact {
    background-color: #ABD1B5;
    border-style: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 200%;
    line-height: 25px;
    color: #293847;
    text-align: center;
}

/* ------------------------- reviews ------------------------------- */

.star-rating {
    color: #BD9E24;
}

.review {
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: #293847;
    height: 230px;
    text-align: center;
    font-size: 130%;
}

.customer {
    font-style: italic;
    text-align: center;
    color: #293847;
    font-size: 110%;
}

.review-section {
    width: 100%;
    display: flex;
}

/* ----------------------- problems introduction ------------------------------- */

.problems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #293847;
    width: 100%;
}

.problems-intro-container {
    background-color: #ABD1B5;
    border-radius: 10px;
    margin: 2em 1em 0.5em 1em;
    padding: 1em;
}

.problems-intro {
    text-align: center;
    line-height: 1.45em;
    font-size: 190%;
}

/* ----------------------- fridge problems ------------------------------- */


.fridge-container {
    background-color: #ABD1B5;
    margin: 0.5em;
    border-radius: 10px;
    padding: 2em;
}

.fridge-title {
    font-size: 190%;
    text-align: center;
}

.fridge-video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.fridge-text {
    text-align: center;
    font-size: 190%;
    padding: 1em;
}

.fridge-text li {
    text-align: center;
    font-size: 100%;
}

.number {
    list-style-type: none;
}

/* ----------------------- water ingress problems ------------------------------- */


.water-container {
    background-color: #ABD1B5;
    margin: 0.5em;
    border-radius: 10px;
    padding: 2em;
}

.water-issue {
    text-align: center;
    font-size: 190%;
}

/* ---------------------------- Gallery ---------------------------- */

#photos {
    clear: both;
    column-count: 3;
    column-gap: 2px;
}

#photos img {
    width: 100%;
}

/* ----------------------- Thank you ------------------------------- */

#thanks-container {
    clear: both;
    display: flex;
    color: #293847;
    text-align: center;
}

#thanks-bg {
    background-color: #ABD1B5;
    border-style: none;
    width: 100%;
    height: 18rem;
}

#thank-you {
    font-weight: bold;
    font-size: 300%;
    color: #293847;  
    padding-top: 1.5%;
    line-height: 20px;
    text-transform: uppercase;
}

#thanks-message {
    font-size: 170%;
    color: #293847; 
    line-height: 20px;
}

#terms {
    font-style: italic;
    font-size: 120%;
    color: #293847; 
    line-height: 20px;
}

/* ------------------------ resonsive design --------------------------  */

/* responsive design - small laptop */

@media screen and (max-width: 1024px) {

    body {
        max-width: 100%;
    }

    #site-logo {
        text-align: center;
        font-size: 190%;
        width: 100%;
        margin-bottom: 0;
        }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0;
    }

    #navigation-list li {
        text-align: center;
    }

    .mobile-only {
        display: none;
    }

    .prices-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

/* responsive design - tablet */

@media screen and (max-width: 800px) {

    body {
        max-width: 100%;
    }

    #site-logo {
        text-align: center;
        font-size: 190%;
        width: 100%;
        margin-bottom: 0;
        }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0;
    }

    #navigation-list li {
        text-align: center;
    }

    #hero-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-height: 420px;
    }

    #hero-overlay-text {
        height: 17em;
        padding: 0;
    }

    #services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-height: 41rem;
        max-width: 100%;
    }

    .options {
        height: 170px;
    }

    .options h2 {
        justify-content: center;
        align-items: center;
    }

    .tablet-hide {
        display: none;
    }

    #about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20em;
    }

    #portait-container {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        border: 8px solid #3D5467; 
        overflow: hidden;
    }

    #portrait-bg img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    #about-us-text-container {
        width: 96%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 1em;
    }

    #about-us-text-container #about-us-text {
        width: 94%;
        font-size: 100%;
    }

    #about-us-text {
        text-align: center;
    }

    .prices-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #293847;
        padding-top: 0;
    }

    .prices-intro-container {
        width: 100%;
        background-color: #ABD1B5;
        border-radius: 10px;
        margin: 0;
        padding: 0;
    }

    .prices-intro h2 {
        margin: 0;
    }

    .prices-intro {
        font-size: 110%;
        text-align: center;
        padding: 5px;
    }

    .table-container {
        background-color: #ABD1B5;
        margin: 0.5em;
        border-radius: 10px;
        padding: 5px;
    }

    .prices-table {

        justify-content: center;
        align-items: center;
        font-size: 110%;
    }

    td {
        padding: 10px 15px;
        border-bottom: 1px solid #293847;
    }

    .hide-border {
        border-bottom: none;
    }

    #contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #form {
        margin-top: 2px;
    }

    .form-field {
        width: 175px;
        height: 20px;
    }

    .query-field {
        width: 92%;
    }

    #contact {
        font-size: 130%;
        max-width: 100%;
    }

    .review{ 
        justify-content: center;
        padding: 1em;
        margin-bottom: 4em;
    }

    #thanks-bg {
        padding: 2em;
    }

    #thank-you, #thanks-message, #terms {
        padding: 0.5em;
    }

    .fridge-video, .fridge-text {
        display: flex;
        flex-direction: column;
    }

    .problems-intro h2, p {
        margin: 0;
    }

  #photos {
      column-count: 2;
  }
}

/* responsive design - mobile */

@media screen and (max-width: 480px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center;     
    }

    #site-logo {
        text-align: center;
        font-size: 190%;
        width: 100%;
    }

    nav {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .mobile-only {
        display: initial;
    }

    #hero-container {
        /* max-width: 100%;
        max-height: 450px; */
        display: flex;
    }

    #hero-overlay-text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        max-height: 400px;
    }

    #contact-button {
        margin: 0;
    }

    #services {
        display: grid;
        grid-template-columns: 1fr; 
        padding: 2px;
    }

    #services .options {
        height: 100px;
    }

    #services .options h2{
        align-items: center;
        padding: 0.5em 0 0 0; 
    }

    .hide {
        display: none;
    }

    #about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 4.5em;
    }

    .problems {
        width: 100%;
        margin: 0 20px;
    }
    
    .review-section {
        flex-wrap: wrap; 
    }
    
    .review {
        justify-content: center;
        margin: 0;
        padding: 0.5;
    }

    .problems {
        width: 100%;
    }
} 