body {
    font-family: BenchNine, sans-serif;
    background-color: #EFE6DD;
    max-width: 100%;
}

/* ---------------------- header ---------------------- */

#site-logo {
    font-family: Oswald, sans-serif;
    color: #293847;
    text-transform: uppercase;
    font-size: 250%;
    letter-spacing: 2px;
    float: left;
    margin: 7px;
    max-width: 100%;
}

nav {
    float: right;
    padding-right: 7px;
    margin: 15px 0 0 0;
}

ul li {
    list-style-type: none;
    font-family: Oswald, sans-serif;
    display: inline;
}

ul li a {
    color: #293847;
    padding: 0 7px 0 7px;
    font-size: 120%;
    text-decoration: none;
    letter-spacing: 2px;
}

.active {
    text-decoration: underline;
}

/* ------------------------- hero image and overlay text ---------------------- */

#hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    background: url("../images/pano-hero-image.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 90%;
}

#hero-overlay-text {
    font-size: 120%;
    color: #efe6dd;
    font-family: BenchNine, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.5px;
    width: 600px;
    height: auto;
    border-radius: 10px;
    background-color: rgba(41, 56, 71, .8);
    right: 90px; 
    position: absolute; 
    line-height: 200%;
}

#contact-button {
    background-color: #ABD1B5;
    font-family: BenchNine, sans-serif;
    text-transform: uppercase;
    font-size: 110%;
    border-style: none;
    border-radius: 5px;
    max-width: 35%;
    margin: 10px 0 20px 200px;
}

#contact-button h3 {
    color: #293847;
    padding: 2px 5px 2px 5px;
    margin: 2px;
}

#contact-button a {
    text-decoration: none;
} 

/* ---------------------------- services grid ------------------------------ */

#services {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    min-height: 400px;
    max-width: 100%;
}

.options {
    background-color: rgba(41, 56, 71, .8);
    color: #EFE6DD;
    height: 170px;
    text-align: center;
    padding: 25px 10px 50px 10px;
    margin: 3px 2px 0 0;
    border-style: none;
}

#services h2 {
    margin: 1px 0 1px 0;
    padding: 0;
}

#services p {
    font-size: 120%;
}